head
	//- кодировка
	meta(charset='UTF-8')
	meta(name="description" content="")
	meta(name="author" content="")
	//- apple meta
	meta(name='format-detection', content='telephone=no')
	meta(name="apple-mobile-web-app-capable" content="yes")
	meta(name="apple-mobile-web-app-status-bar-style" content="black")
	//- viewport
	meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
	meta(http-equiv='X-UA-Compatible', content='ie=edge')
	//- meta(name="robots" content="index, follow")
	//- favicon
	meta(property="og:description" content="Борьба с аллергией вынуждает искать новые и новые препараты, которые бы могли свести симптомы на нет. Одним из таких средств является препарат Аллервэй.")
	meta(property="og:type" content="article")
	meta(property="og:url" content="http://allerway.ru")
	meta(property="og:image" content="favicon.ico")
	
	link(rel="apple-touch-icon" href="favicon.ico")
	link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
	
	//- stylesheet
	link(rel="stylesheet", href="css/libs.min.css")
	link(rel="stylesheet", href="css/style.min.css")
	//- Yandex.Metrika counter
	//- <noscript><div><img src="https://mc.yandex.ru/watch/50384005" alt="" /></div></noscript>
	//- /Yandex.Metrika counter
	//- Facebook Pixel Code
	//- End Facebook Pixel Code
	//- <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=313037476815307&ev=PageView&noscript=1"/></noscript>
	
	//- <style> /* inlined critical CSS */ </style>
