div(id="form-project-calc").popup-form-calc.white-popup.mfp-hide
    .popup-form-calc 
        .form__group
            label(for="") Вид остекления
            input(type="text" placeholder="wwww") 
        .form__group
            label(for="") освещение
            input(type="text" placeholder="wwww")
        .form__group
            label(for="") обшивка парапета
            input(type="text" placeholder="wwww")
        .form__group
            label(for="") Утепление
            input(type="text" placeholder="wwww")
        .form__group
            label(for="") Шкаф
            input(type="text" placeholder="wwww")
        .form__group
            label(for="") Внутрення отделка
            input(type="text" placeholder="тип")
            input(type="text" placeholder="цвет")
        .form__group
            label(for="") Отделка пола
             input(type="text" placeholder="тип")
            input(type="text" placeholder="цвет")
        .form__group
            label(for="") Теплый пол
            input(type="text" placeholder="wwww")
